<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My site!</title>
</head>
<body>
   <style>
       body{
           background-color: cornsilk;
       }
            .qu{
                display: inline-flex;
                width: 200px;
                height: 200px;
                border: 3px solid aquamarine;
                background-color: aquamarine;
                color: red;
            }
        </style>
    <h1>мой сайт</h1>
   {% block content %}

   {% endblock %}


</body>
</html>